

body{
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(255, 255, 255);
}
.Name{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
#edc{
    padding: 30px;
}
.education{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#lpu-logo{
    margin-left: 50px;
}
#tsbie-logo{
    margin-left: 40px;
}

.proj{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project{
    display: grid;
    height: 400px;
    width: 1100px;
    grid-template-rows: 300px 100px;
    grid-template-columns: 600px 500px;

}

.link{
    grid-area: 2 / 1 / 3 / 2 ;
    display: flex;
    justify-content: center;
    align-items: center;


}
.description{
    grid-area: 1 / 2 / 3 / 3;
}

button{
    
    
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #000000;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms,background 200ms;
    :hover{
        transform: translateY(-2px);
    }
    r{
        transform: translateY(-2px);
    }
    
}

.project-head{
    margin: 25px;
}

.project-head{
    margin: none;
    padding: 10px;
    float: left;
    clear: left;
}
.project-head{
    text-align: left;
}